# Exclude files and fyletypes
Icon?
*.log
log.txt
Thumbs.db
.DS_Store
.bash_history
desktop.ini

# Exclude system directories and files
/.composer/*
/.cache/*
/.idea/*
/.ssh/*
/.npm/*
/_dev/*
/_test/*
/_deny/*
/_html/*

# Bitrix
/bitrix/*
/vendor/*
/upload/*
/uploads/*

# Bitrix 24
/ai/*
/apconnect/*
/desktop_app/*
/marketplace/*
/onec/*